<html>
	<head>
		<title>Gallery</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="stylesheets/gallery.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar">
			<div class="container">
				<div>
					<p>Gallery - My own photos</p>
					<p>Boros Tibor</p>
				</div>
				<div>
					<a target="_blank" rel="noopener noreferrer" href="https://github.com/boros2222/web_gallery">Forráskód</a>
				</div>
			</div>
		</nav>

		<div class="pictures">
		</div>

		<div class="picture-view-bg">
			<img class="picture-view" src="">
			<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
		</div>

		<div class="bottom">
			<p>Taken with OnePlus 3T</p>
		</div>

		<script type="text/javascript" src="javascript/image_loader.js"></script>
	</body>
</html>
